<%- include("partials/header.ejs") %>

<main class="d-flex flex-column">
  <h1>All Notes</h1>

  <!-- Link to add new note -->
  <a href="/new">Add New Note</a>

  <!-- Display all notes -->
 
  <ul>
    <% notes.forEach(note => { %>
      <%  if (note._id  !=0) { %>
      
    <li>
      <div class="d-flex flex-column">
        <h2><%= note.title %></h2>
        <p><%= note.content.substring(0, 70) %></p>
      
            <a href='/notes/<%=note._id%>'>Read more</a>
          
      
      </div>
    </li>
    <% } %>
    <% }); %>
  </ul>

</main>

<%- include("partials/footer.ejs") %>
